.article{
    &__inner{
        
    }
    & img{
        float: left;
        margin: 10px 1rem 10px 0;
    }
    & span{
       text-transform: uppercase;
        color:$primary-color;
        font-weight: bold;
        margin-right: 6px;
        font-size: 36px;
        line-height: 36px;
        float: left;
    }
    & blockquote{
        font-style: italic;
        border-left:10px solid $primary-color;
        margin-left: 65px;
        padding-left: 20px;
    }
    
    @include mobile{
        & blockquote{
            margin-left: 10px;
            border-width: 5px;
        }
        & img{
            clear: both;
        }
    }
}