 .sidebar{
            display: flex;
            flex-direction: column;
            &__header{
                &__title{
                    color:$primary-color;
                    text-transform: uppercase;
                    font-family: "Bebas", sans-serif;
                }
            }
            &__body{
               padding-top: 25px;
                margin-bottom: 40px;
                & .catigories{
                    & a{
                        text-decoration: none;
                        color: #000;
                        
                    }
                }
                & p{
                    margin: 0;
                }
                ul{
                    list-style: none;
                    padding: 0;
                }
                & img{
                  margin-right: 3px;
                    margin-bottom: 3px;
                }
            }
      & .gallery{
                    display: flex;
                    
                    flex-wrap: wrap;
                  
                }
        }