.header{
    border-bottom: $border-size solid rgba($primary-color,$opacity-80);
    background-color:$primary-color;  
    color:#fff; 
   &__inner{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: $padding;
       
    }
}
@include tablet{
    .header{
        &__inner{
            align-items: center;
            flex-direction: column;
        }
    }
}