@font-face {
    font-family: 'Panton';
    src: url('../fonts/panton/Panton-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Panton SemiBold';
    src: url('../fonts/panton/Panton-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Panton Bold';
    src: url('../fonts/panton/Panton-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/Myriad/MyriadPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

