$primary-color:#e8663c;
$secondary-color:#b9b9b9;
$secondary-bg-color:#f3b29d;
$secondary-text-color:#c2c2c2;
$sucsess-color:#effeb9;
$error-color:#fbcbc1;
$note-color:#ffe9ad;
$notification-color:#d1e4f3;
$desctopMedia:980px;
$tabletMedia:767px;