.note-block {
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    padding: 18px 0
}

.note-block-text {
    text-align: center;
    margin: 0
}

.note-block-text span {
    font-weight: 700;
    color: #82699d
}
