.line{
	position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    background-color: lighten($primary-color, 20) ;
    z-index: 0;
    &__inner{
        position: relative;
        height: 61px;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            width: 10px;
            height: 100%;
            background-color: #fff;
            z-index: 1;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            width: 10px;
            height: 100%;
            background-color: #fff;
            z-index: 1;
        }
    }
    @include tabletAndMobile{
        display: none;
    }
}