.page-switcher{
    display: flex;
    list-style: none;
    padding: 0;
    & a{
        display: block;
        padding: 4px 9px;
        text-align: center;
        background-color: lighten($primary-color,20);
        margin-right: 5px;
        color:#fff;
        font-family: "Bebas Regular", sans-serif;
        font-size: 14px;
        line-height: 18px;
        text-decoration: none;
        &:hover{
           background-color: $primary-color;  
        }
    }
    & .active{
        background-color: $primary-color;
    }
    @include mobile{
        justify-content: center;
    }
}