.btn {
  border: none;
  text-transform: uppercase;
  width: 160px;
  height: 50px;
  border: 1px solid $primary_text_color;
  margin-right: 20px;
  background: transparent;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background: #fff;
    border: none;
    box-shadow: 5px 10px 50px -10px $secondary_text_color;
  }
  &-secondary {
    background: #fff;
    border: none;
  }
}
.calc-widget-btn {
  width: 50px;
  height: 50px;
  border: none;
  font-size: 30px;
  border-radius: 5px;
  &:hover {
    background-color: darken($primary-color, 20);
  }
}
.calc-widget-btn-secondary {
  border: none;
  background-color: rgba(255, 238, 0, 0.753);
  padding: 15px 0;
  width: 100%;
  font-size: 15px;
  &:hover {
    background-color: darken(rgba(255, 238, 0, 0.753), 20);
  }
}
