$primary-color:$blue-500;
$border-radius-10:10px;
$border-radius-4:4px;
$secondary-border-color:#223c50;
$padding:10px;
$margin:10px;
$border-size: 2px;
$desctopMedia: 980px;
$tabletMedia: 767px;
$opacity-100:1;
$opacity-80:$opacity-100*.80;
$opacity-60:$opacity-100*.60;
$opacity-30:$opacity-100*.30;
$opacity-20:$opacity-100*.20;
$opacity-15:$opacity-100*.15;
$opacity-10:$opacity-100*.1;
$opacity-05:$opacity-100*.05;
$transition:.5s;