.blog{
    
    &__main{
        & .cards{
                    & .card{
           margin-bottom: 58px;
            position: relative;
            &__1{
                &::before{
                content: '';
                position: absolute;
                width: 75px;
                height: 75px;
                background-color: $primary-color;
                top: 0;
                left: -85px;
                background-image: url('../img/blog/icon-1.png');
                background-repeat: no-repeat;
                background-position: center;
                    @include tabletAndMobile{
                        
                    } 
                
            } 
            }
            &__2{
               &::before{
                content: '';
                position: absolute;
                width: 75px;
                height: 75px;
                background-color: $primary-color;
                top: 0;
                left: -85px;
                background-image: url('../img/blog/icon-2.png');
                background-repeat: no-repeat;
                background-position: center;
                   @include tabletAndMobile{
                       
                   }
                
            }  
            }
            &__3{
               &::before{
                content: '';
                position: absolute;
                width: 75px;
                height: 75px;
                background-color: $primary-color;
                top: 0;
                left: -85px;
                background-image: url('../img/blog/icon-3.png');
                background-repeat: no-repeat;
                background-position: center;
                   @include tabletAndMobile{
                       
                   }
                
            }  
            }
            &__4{
                & .pre-ico{
                    color:$primary-color;
                    font-size: 72px;
                    line-height: 18px;
                    padding: 35px 20px 20px 38px;                    
                }
                &::before{
                content: '“';
                font-size: 80px;                
                color:#fff;
                text-align: center;                
                position: absolute;
                width: 75px;
                height: 75px;
                background-color: $primary-color;
                top: 0;
                left: -85px;           
                    @include tabletAndMobile{
                        
                    }
            }
            }
            &__5{
                &::before{
                content: '';
                position: absolute;
                width: 75px;
                height: 75px;
                background-color: $primary-color;
                top: 0;
                left: -85px;
                background-image: url('../img/blog/icon-3.png');
                background-repeat: no-repeat;
                background-position: center;
                    @include tabletAndMobile{
                        
                    }
                
            }
            }
            &__inner{
                
            }
            &__header{
                 
                & img{
                    min-width:100%;
                    max-width:100%;
                }
            }
            &__body{
                display: flex;
                justify-content:space-betweens;
                margin-bottom: 50px;
                padding: 25px 0 0;
                border:none;
                & ul{
                    list-style: none;
                    padding: 0;
                }
                & h3,h2{
                    color:$primary-color;
                    text-transform: uppercase;
                    
                }
                & span{
                    color:$secondary-text-color;
                    font-size: 12px;
                    line-height: 20px;
                }
                & p:last-child{
                    margin-bottom: 0;
                }
            }
            &__footer{
                & img{
                    width: 100%;
                }
            }
        }
            @include tabletAndMobile{
                margin-top: 40px;
                & .card__1,.card__2,.card__3,.card__4,.card__5{
                    &::before{
                        width: 55px;
                        height: 55px;
                        top: -60px;
                        left: 0;
                    }
                }
              
            }
        }
        
        @include mobile{
            margin-bottom: 20px;
        }
    }
}