.portfolio{
	&__inner{
		
	}

	&__nav{
		margin-bottom: 35px;
		& .menu{
			list-style: none;
			padding: 0;
			display: flex;
			& a{
				padding: 5px 14px;
				text-transform: uppercase;
				color:$secondary-text-color;
				font-weight: bold;
				text-decoration: none;
				&:hover{
					background-color:$primary-color;
					color:#fff;
				}
			}
		}
	}
	&__works{
		
        @include mobile{
            margin-bottom: 0;
        }
	}
}