
     .btn{
                font-family: "Panton Bold",sans-serif;
                background-color: transparent;
                border:1px solid $primary-color;
                border-radius: 5px;
                color: $primary-color;
                font-size: 11px;
                line-height: 12px;
                letter-spacing: 0.2em;
                padding: 8px 18px;
                white-space: nowrap;
                cursor: pointer;
                text-transform: uppercase;
                & .flag{
                    margin-right: 9px;
                    display: inline-block;
                    vertical-align: middle;
                    height: 14px;
                    width: 16px;
                }
                & .currency-ico{
                    background-image: url('../img/currency_flag.png');
                }
                & .cart-ico{
                    background-image: url('../img/cart_flag.png');
                }
            }
     .search-btn{
         border-radius: 0 5px 5px 0;
         padding: 9px;
             background: url('../img/search-ico.png') no-repeat center;
         & .flag{
             margin: 0;
         }
    }
    .switch-btn{
        border: 1px solid  $border-color;
        border-radius: 4px;
        height: 24px;
        width: 47px;
        & .previous,
        .next{
            border: none;
            height: 100%;
            padding: 0;
            width: 50%;
        }
        & .previous{
            background: url('../img/arrows.png') no-repeat 6px center;
            border-right: 1px solid $border-color;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        & .next{
            margin-left: -4px;
            background: url('../img/arrows.png') no-repeat -15px center;
        }
    }
     .currency{
        margin-right: 40px;
    }
     .signin{
        margin-right: 10px;
    }
    .more{
        display: block;
        width: 100%;
        margin: 0 10px;
        border-color: darken($border-color,20);
        text-transform: uppercase;
    }
    .add{
        align-self: center;
        width: 140px;
        height: 32px;
        background-color: $primary-color;
        color: #fff;
        border-radius: 16px;
        text-align: center;
    }
@include tabletAndMobile{
    .currency,
    .signin{
        margin-right: 10px;
    }
    .btn{
        padding: 8px 10px;
    }
}