.stats {
  background-color: $primary_color;
  &__inner {
  }
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & .item {
      flex-grow: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      & .amount {
      }
      &_name {
        margin: 0;
      }
      &_ico {
        height: 98px;
        width: 98px;
      }
    }
  }
  @include mobile {
    &__items {
      & .item {
        width: 50%;
      }
    }
  }
}
