// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$1-name: '1';
$1-x: 571px;
$1-y: 750px;
$1-offset-x: -571px;
$1-offset-y: -750px;
$1-width: 77px;
$1-height: 77px;
$1-total-width: 1937px;
$1-total-height: 1193px;
$1-image: 'sprite.png';
$1: (571px, 750px, -571px, -750px, 77px, 77px, 1937px, 1193px, 'sprite.png', '1', );
$2-name: '2';
$2-x: 1523px;
$2-y: 642px;
$2-offset-x: -1523px;
$2-offset-y: -642px;
$2-width: 76px;
$2-height: 62px;
$2-total-width: 1937px;
$2-total-height: 1193px;
$2-image: 'sprite.png';
$2: (1523px, 642px, -1523px, -642px, 76px, 62px, 1937px, 1193px, 'sprite.png', '2', );
$3-name: '3';
$3-x: 1456px;
$3-y: 642px;
$3-offset-x: -1456px;
$3-offset-y: -642px;
$3-width: 67px;
$3-height: 75px;
$3-total-width: 1937px;
$3-total-height: 1193px;
$3-image: 'sprite.png';
$3: (1456px, 642px, -1456px, -642px, 67px, 75px, 1937px, 1193px, 'sprite.png', '3', );
$4-name: '4';
$4-x: 1366px;
$4-y: 642px;
$4-offset-x: -1366px;
$4-offset-y: -642px;
$4-width: 90px;
$4-height: 75px;
$4-total-width: 1937px;
$4-total-height: 1193px;
$4-image: 'sprite.png';
$4: (1366px, 642px, -1366px, -642px, 90px, 75px, 1937px, 1193px, 'sprite.png', '4', );
$5-name: '5';
$5-x: 571px;
$5-y: 827px;
$5-offset-x: -571px;
$5-offset-y: -827px;
$5-width: 57px;
$5-height: 81px;
$5-total-width: 1937px;
$5-total-height: 1193px;
$5-image: 'sprite.png';
$5: (571px, 827px, -571px, -827px, 57px, 81px, 1937px, 1193px, 'sprite.png', '5', );
$6-name: '6';
$6-x: 648px;
$6-y: 750px;
$6-offset-x: -648px;
$6-offset-y: -750px;
$6-width: 76px;
$6-height: 76px;
$6-total-width: 1937px;
$6-total-height: 1193px;
$6-image: 'sprite.png';
$6: (648px, 750px, -648px, -750px, 76px, 76px, 1937px, 1193px, 'sprite.png', '6', );
$-logo-name: 'Logo';
$-logo-x: 1599px;
$-logo-y: 642px;
$-logo-offset-x: -1599px;
$-logo-offset-y: -642px;
$-logo-width: 81px;
$-logo-height: 55px;
$-logo-total-width: 1937px;
$-logo-total-height: 1193px;
$-logo-image: 'sprite.png';
$-logo: (1599px, 642px, -1599px, -642px, 81px, 55px, 1937px, 1193px, 'sprite.png', 'Logo', );
$header-bg-name: 'header_bg';
$header-bg-x: 0px;
$header-bg-y: 0px;
$header-bg-offset-x: 0px;
$header-bg-offset-y: 0px;
$header-bg-width: 1366px;
$header-bg-height: 750px;
$header-bg-total-width: 1937px;
$header-bg-total-height: 1193px;
$header-bg-image: 'sprite.png';
$header-bg: (0px, 0px, 0px, 0px, 1366px, 750px, 1937px, 1193px, 'sprite.png', 'header_bg', );
$hero-name: 'hero';
$hero-x: 1366px;
$hero-y: 0px;
$hero-offset-x: -1366px;
$hero-offset-y: 0px;
$hero-width: 571px;
$hero-height: 642px;
$hero-total-width: 1937px;
$hero-total-height: 1193px;
$hero-image: 'sprite.png';
$hero: (1366px, 0px, -1366px, 0px, 571px, 642px, 1937px, 1193px, 'sprite.png', 'hero', );
$info-img-name: 'info-img';
$info-img-x: 0px;
$info-img-y: 750px;
$info-img-offset-x: 0px;
$info-img-offset-y: -750px;
$info-img-width: 571px;
$info-img-height: 443px;
$info-img-total-width: 1937px;
$info-img-total-height: 1193px;
$info-img-image: 'sprite.png';
$info-img: (0px, 750px, 0px, -750px, 571px, 443px, 1937px, 1193px, 'sprite.png', 'info-img', );
$spritesheet-width: 1937px;
$spritesheet-height: 1193px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($1, $2, $3, $4, $5, $6, $-logo, $header-bg, $hero, $info-img, );
$spritesheet: (1937px, 1193px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
