.btn{
    
   &-scroller{
    position: fixed;
    bottom: -100px;
    right: 20px;
    background-color: $primary-color;
    border:none;
    color:#fff;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    transition: all .2s;
    z-index: 2;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);

    &_visible{
        bottom: 20px;
        
    }
   }
   &-block{
       display: flex;
       justify-content: space-evenly;
   }
}