.socials{
    list-style-type: none;
    &-item{
        transition:all $transition;
        &:hover{
            background-color: rgba(#fff, $opacity-30);

        }
        &_link{
            color:#fff;
            &:hover{
                color:#fff ;

            }

        }
        &_ico{
            margin-right: 5px;
        }
    }
}